.switch-controls {
  display: flex;
}

.switch-controls__elem {
  display: flex;
  align-items: center;

  &:first-child {
    margin-right: rem(20px);
  }
}

.switch-controls__radio,
.switch-controls__checkbox {
  margin-right: rem(10px);
}
