.footer {
    position: absolute;
    bottom: 0;
    min-height: rem(60px);
    width: 100%;
    background-color: #000000;
    color: $white;
    z-index: 1;
}
.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: rem(60px);
    
    @include phons {
        flex-direction: column;
    }
}