.scroll-down {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);

  @include phons {
    bottom: rem(30px);
  }
}

.scroll-down__btn {
    display: none;
    margin: 0 auto;
    width: rem(29px);
    height: rem(16px);
      
    &.in--activ {
      display: block;
    }
  }
  