.team {
  position: relative;
  background: url(../images/bg_teams.jpg) center center / cover no-repeat;
}

.team__container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(47, 50, 52, 0.92);

  @include tablets {
    left: 0;
    text-align: center;
  }
}

// .container--team {
//   display: flex;
//   flex-direction: column;
//   max-width: rem(470px);
// }

.team__item {
  margin-bottom: rem(40px);
}

.team__col {
  margin-left: rem(20px);
}

.team__accordion {
  .team__content {
    display: flex;
    align-items: center;
    color: $white;
    opacity: 0;
    height: 0;
  }
  .team__user {
    @include ubuntu(bold);
    color: $white;

    &:before {
      content: "";
      display: inline-block;
      margin-right: rem(10px);
      width: rem(9px);
      height: rem(6px);
      background: url(../images/icon/svg/accordion_icon.svg);
      background-size: cover;
    }
  }
  &--is-activ {
    .team__content {
      opacity: 1;
      min-height: rem(100px);

      @include tablets {
        flex-direction: column;
        min-height: rem(180px);
      }
    }
    .team__user {
      color: $yellow;

      &:before {
        background: url(../images/icon/svg/accordion_icon_activ.svg);
      }
    }
  }
}

.team__image {
  width: rem(100px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.team__text {
  max-width: rem(210px);
}
