.cards-cooking {
  text-align: center;
  color: $black;

  &__image {
    display: flex;
    justify-content: center;
    height: rem(89px);
    margin-bottom: rem(30px);
  }
  &__title {
    @include lifehack;
    font-size: rem(24px);
  }
}


