.menu {
  display: flex;

  @include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
}

.menu__item {
  display: flex;
  align-items: center;
  &:before {
    content: "";
    display: block;
    width: rem(4px);
    height: rem(4px);
    border-radius: 50%;
    background: currentColor;
    margin-left: rem(13px);
  }

  &:first-child {
    &:before {
      display: none;
    }
  }
}

.menu__link {
  margin-left: rem(13px);
  text-decoration: none;
  text-transform: uppercase;
  font-size: rem(13px);
}
