.scroll-down {
  flex-grow: 1;
  flex-basis: 100%;
}

.scroll-down__btn {
    display: none;
    margin: 0 auto;
    width: rem(29px);
    height: rem(16px);
      
    &.in--activ {
      display: block;
    }
  }
  