.section {
  min-height: 650px;
}

.section__title {
  font-size: 72px;
  color: $yellow;
  margin-bottom: 50px;
  @include gagalin;
  line-height: 1;
  text-transform: uppercase;

  &--centered {
    text-align: center;
  }
  &--color--black {
    color: $black;
  }
  &--color--white {
    color: $white;
  }
  &--padding--top {
    padding-top: 110px;
  }
}
