.we-best {
  display: flex;
  align-items: center;
  background: url("../images/bg/bg_we-best.png") center center / cover no-repeat;
}

.we-best__list {
  display: flex;
  justify-content: space-around;

  @include phons {
    flex-direction: column;
  }
}

.we-best__item {
  flex-basis: 33%;
  text-align: center;

  @include phons {
    display: flex;
    margin-bottom: rem(50px);
  }
}
